.Hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;

}
 .Hero img{
    margin-top: 150px;
    width: 400px;
}
.Hero h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
}
.Hero h1 span{
    background: linear-gradient(270deg,#DF8908 10%,#B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.Hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 500;
    margin-bottom: 50px;

}
.Hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg,#DF8908 -5.09%,#B415FF 100% );
    cursor:pointer
}
.Hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}
.Hero-connect:hover{
    border: 2px solid white;
}
.Hero-resume:hover{
    border-color: #B415FF;
}
@media(max-width:768px){
    .Hero img{
        margin-top: 120px;
        width: 260px;
    }
    .Hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .Hero h1{
        margin-top: 60%;
        width: 90%;
        font-size: 50px;

    }
    .Hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .Hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }
    .Hero-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }

}